body{
    background-image: linear-gradient(to right, rgb(235,29,29), rgb(212,20,20), rgb(193,9,9));
}
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-style: italic;
    color: rgba(0, 0, 0, 1);
}
#inst{
    margin: auto;
    position: absolute;
    top: 150px; left: 0; bottom: 0; right: 0; 
    display: block;
}
h2{
    text-align: center;
}
#canvas{
    display: none;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: gray;
}