body{
    background-image: url('download1.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Amatic SC', cursive;
    font-size:larger;
    font-weight: bolder;
}
h1{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
    font-weight: bolder;
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 3px black;
    background-color: darkred;
    border:3px solid black;
    border-radius: 10px;
}
#inst{
    height: 600px;
    width: 1000px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 150px; left: 0; bottom: 0; right: 0; 
    
    /*
    background-image: linear-gradient(rgba(172,16,16,1), rgba(172,16,16,0));
    */
    color: white;
    text-shadow: 2px 3px black;
    display: block;
}
ul{
    border:5px solid darkred;
    outline: 3px solid black;
    background-color: rgb(80, 78, 78);
}
h2{
    text-align: center;
    background-color: darkred;
    border: 3px solid black;
}
#canvas{
    display: none;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: rgb(20, 20, 20);
    border: 3px solid lightseagreen;
}